<%- if @cla.errors.any? %>
  <%- @cla.errors.full_messages.each do |error| %>
    <div class="alert alert-danger text-center">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= error %>
    </div>
  <% end %>
<% end %>