<h2 align="center"> Hello, please read and sign: </h2>

<%= render 'license', cla: @cla, cla_version: @cla.current_version %>

<div align="center">
  <%- if signed_in? %>
    <%- if current_user.user?  %>
      <p>
        <button type="button" class="btn btn-lg btn-success">
          Sign this CLA
        </button>
      </p>
    <% end %>
  <%- else %>
    Please, <%= link_to 'sign in (GitHub)', user_github_omniauth_authorize_path %>, to Sign this CLA
  <% end %>
</div>