<h2 align="center"> Hello, please read and sign: </h2>

<h1 align="center"><%= @cla.name %></h1>

<div align="center">
  <p>
    <button type="button" class="btn btn-success">
      Sign this CLA
    </button>
  </p>
  <br>
  <hr>
  <p>
    <em>
      Copyright <%= DateTime.now.year %> Parity Technologies. All Rights Reserved.
    </em>
  </p>
  <br>
</div>