<h2 align="center"> Hello, please read and sign: </h2>

<%= render 'license', cla: @cla, cla_version: @cla.current_version %>

<div align="center">
  <p>
    <button type="button" class="btn btn-lg btn-success">
      Sign this CLA
    </button>
  </p>
</div>