<div class="row">
  <div class="col-8 offset-2">
    <div class="form-group">
      <%= form_for @cla do |cla| %>
        <div class="form-group">
          <%= cla.label :cla_name %><br>
          <%= cla.text_field :name, class: 'form-control z-depth-1' %>
        </div>
        <div class="form-actions">
          <%= cla.submit 'Create CLA', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>