<h2 align="center"> Hello, <%= current_user.name %>!</h2>

<%= render 'license', cla: @cla %>
<br>
<p align="center">
  <%= link_to 'edit', edit_cla_path(@cla), class: 'btn btn-outline-info my-2 my-sm-0' %>
</p>
