---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/test-organization
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1540977696'
      Etag:
      - W/"8b13a82310b15b5b1cec154d8df7e578"
      Last-Modified:
      - Sat, 27 Oct 2018 18:53:56 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"test-organization","id":44378327,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ0Mzc4MzI3","url":"https://api.github.com/orgs/test-organization","repos_url":"https://api.github.com/orgs/test-organization/repos","events_url":"https://api.github.com/orgs/test-organization/events","hooks_url":"https://api.github.com/orgs/test-organization/hooks","issues_url":"https://api.github.com/orgs/test-organization/issues","members_url":"https://api.github.com/orgs/test-organization/members{/member}","public_members_url":"https://api.github.com/orgs/test-organization/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/44378327?v=4","description":"","name":"Pablo
        Organization","company":null,"blog":"","location":null,"email":"","is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":1,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/test-organization","created_at":"2018-10-22T18:45:29Z","updated_at":"2018-10-27T18:53:56Z","type":"Organization"}'
  recorded_at: Wed, 31 Oct 2018 08:57:59 GMT
recorded_with: VCR 4.0.0
