<%- if signed_in? && current_user.admin? %>
  <h1 align="center"> Hello, <%= current_user.name %> </h1>
<%- elsif signed_in? && current_user.user? %>
  <h1 align="center"> Hello, <%= current_user.name %></h1>
  <br>
  <p align="center"><%= link_to "Contributor's License Agreement", cla_path(organisation: 'paritytech', repository: 'parity-bitcoin') %></p>
<%- else %>
  <h1 align="center"> Hello, please <%= link_to 'sign in', user_github_omniauth_authorize_path %> (GitHub) </h1>
<% end %>
