---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/test-organization/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1540970516'
      Etag:
      - W/"16206132ec44d0d6c1f59caaeb1b7cda"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":154199155,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQxOTkxNTU=","name":"test-repo","full_name":"test-organization/test-repo","private":false,"owner":{"login":"test-organization","id":44378327,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ0Mzc4MzI3","avatar_url":"https://avatars0.githubusercontent.com/u/44378327?v=4","gravatar_id":"","url":"https://api.github.com/users/test-organization","html_url":"https://github.com/test-organization","followers_url":"https://api.github.com/users/test-organization/followers","following_url":"https://api.github.com/users/test-organization/following{/other_user}","gists_url":"https://api.github.com/users/test-organization/gists{/gist_id}","starred_url":"https://api.github.com/users/test-organization/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-organization/subscriptions","organizations_url":"https://api.github.com/users/test-organization/orgs","repos_url":"https://api.github.com/users/test-organization/repos","events_url":"https://api.github.com/users/test-organization/events{/privacy}","received_events_url":"https://api.github.com/users/test-organization/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/test-organization/test-repo","description":"this
        is test repo","fork":false,"url":"https://api.github.com/repos/test-organization/test-repo","forks_url":"https://api.github.com/repos/test-organization/test-repo/forks","keys_url":"https://api.github.com/repos/test-organization/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-organization/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-organization/test-repo/teams","hooks_url":"https://api.github.com/repos/test-organization/test-repo/hooks","issue_events_url":"https://api.github.com/repos/test-organization/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/test-organization/test-repo/events","assignees_url":"https://api.github.com/repos/test-organization/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/test-organization/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/test-organization/test-repo/tags","blobs_url":"https://api.github.com/repos/test-organization/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-organization/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-organization/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-organization/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-organization/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/test-organization/test-repo/languages","stargazers_url":"https://api.github.com/repos/test-organization/test-repo/stargazers","contributors_url":"https://api.github.com/repos/test-organization/test-repo/contributors","subscribers_url":"https://api.github.com/repos/test-organization/test-repo/subscribers","subscription_url":"https://api.github.com/repos/test-organization/test-repo/subscription","commits_url":"https://api.github.com/repos/test-organization/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-organization/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-organization/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-organization/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-organization/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/test-organization/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-organization/test-repo/merges","archive_url":"https://api.github.com/repos/test-organization/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-organization/test-repo/downloads","issues_url":"https://api.github.com/repos/test-organization/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/test-organization/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/test-organization/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/test-organization/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-organization/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/test-organization/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/test-organization/test-repo/deployments","created_at":"2018-10-22T18:58:47Z","updated_at":"2018-10-22T18:58:51Z","pushed_at":"2018-10-22T18:58:49Z","git_url":"git://github.com/test-organization/test-repo.git","ssh_url":"git@github.com:test-organization/test-repo.git","clone_url":"https://github.com/test-organization/test-repo.git","svn_url":"https://github.com/test-organization/test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}]'
  recorded_at: Wed, 31 Oct 2018 06:21:56 GMT
recorded_with: VCR 4.0.0
