---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=valid_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token valid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1539934335'
      Etag:
      - W/"0b9ebebfddab04d22c078ef41b0cac3f"
      X-Oauth-Scopes:
      - read:org, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - f31b6fee21b1fc076c05
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Test_organisation","id":1111111,"node_id":"nodeid","url":"https://api.github.com/orgs/test_organisation","repos_url":"https://api.github.com/orgs/test_organisation/repos","events_url":"https://api.github.com/orgs/test_organisation/events","hooks_url":"https://api.github.com/orgs/test_organisation/hooks","issues_url":"https://api.github.com/orgs/test_organisation/issues","members_url":"https://api.github.com/orgs/test_organisation/members{/member}","public_members_url":"https://api.github.com/orgs/test_organisation/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/1111111?v=4","description":"test_description"}]'
  recorded_at: Fri, 19 Oct 2018 06:33:56 GMT
recorded_with: VCR 4.0.0
