@import "bootstrap";

body {
  position: relative;
  margin: 0;
  padding-bottom: 7rem;
  min-height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
