<nav class="navbar navbar navbar-dark bg-dark">
  <div class="navbar-container col-sm-10 col-sm-offset-1">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to 'Clachair', root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </div>
</nav>
