<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <div class="container">
    <%= link_to 'Clachair', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <%- if signed_in? %>
          <li class="nav-item">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
              Update information
            </button>
          </li>
          <li class="nav-item">
            <%= link_to 'Organizations', organizations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <%- else %>
          <li class="nav-item">
            <%= link_to 'sign in (GitHub)', user_github_omniauth_authorize_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
